@media (max-width:1024px) {
 
  .fs {
    left: 86%;
  }
  .ul-menu {
    float: none !important;
  }
  .header-menu {
    /* background-color: #fcfcff;*/
    border-bottom: none;
  }
  .navbar-toggle {

    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-toggle {
    margin-right: 0px;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .text-uppercase {
    background-size: 100%;
   /* background: url(../images/8.jpg) no-repeat center;*/
    /*opacity: 0.5;*/
    background: #46a2dd;
  }
  .submenu-reponsive .nav > li {
    border-left: none;
}
  .navbar-default .navbar-nav>li>a {
    color: #08054e;
    font-weight: bold;
  }
  .menu-top {
    margin-left: 30px;
  }
  .collapse.in {

    display: block !important;
    border: none;
  }
  .navbar-default .navbar-toggle:hover {
    /*position: absolute;*/
    background-color: #86b2f6;
    /* left: 80%;*/
  }
  .icon-hidden {
    padding: 10px 0px 0px 10px;
    color: #000;
    border-bottom: 1px solid #fff;
  }
  .icon-top {
    display: none;
  }
  .icon-hidden a {
    color: #000;
    margin-left: 5px;
  }
  .icon-hidden li {
    margin-bottom: 7px;
  }
  .menu-i a i {
    margin-right: 5px;
  }
  .menu-i a img {
    margin-right: 5px;
  }
   .submenu-reponsive .navbar {
    height: auto;
  }
}

@media (max-width:992px) {

  .search {
    /*width: 95%;*/
    /*float: none !important;*/
  }
  .fs {
    top: -2px;
  }
  #myCarousel {padding-right:33.3333%;}
  #myCarousel .carousel-controls {display:none;}  
}
@media (max-width: 991px) { 
  .carousel-caption p,
  #myCarousel .list-group {display:none;} 
}


@media (max-width:768px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:hover {
    color: #FFF!important;
  }
  .home:before {
    content: "\f19c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
  }
  .introduct:before {
    content: "\f19c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
  }
  .search {
    /*width: 95%;*/
    float: none !important;
  }
  .fs {
    top: -2px;
    /*left:88%;*/
    left: 90%;
  }
  .contact{
    background: #0d8cd6;
    background: linear-gradient(to bottom, #0d8cd6, #6cadf3);
    background: -webkit-linear-gradient(to bottom, #0d8cd6, #6cadf3);
    background: -o-linear-gradient(to bottom, #0d8cd6, #6cadf3);
    background: -moz-linear-gradient(to bottom, #0d8cd6, #6cadf3);
    text-align: center;
  }
  .icon-contact {
    margin-top: 20px;
  }
  .p-text {
    font-size: 14px;
    color: $000;
    line-height: 20px;
   /* white-space: nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
  }
  .submit {

    left: 78%;
  }
  .email-form {
    font-size: 12px;
  }
}

@media (max-width:425px) {
  .fs {
    top: -2px;
    /*left:88%;*/
    left: 85%;
  }
}