/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .search-xs {
    display: none;
  }
  .nav li:hover ul {
    /*display: block;*/
  }
  .content-page .container {
    /* padding: 0px;*/
  }
  .content-page .container .col-md-8 {
    padding-right: 0px;
  }
  #new-page .left-fix .col-md-9 {
    padding-left: 0px;
  }
  #new-page .left-fix .col-md-9 .left {
    /* padding-left: 0px;*/
    /*  padding-right: 0px;*/
  }
  #new-page .left-fix .col-md-9 .right {
    /* padding-right: 0px;*/
  }
  #new-page .right-fix .col-md-3 {
    padding: 0px;
  }
  .text-top .content-text .col-md-5 {
    padding: 0px;
  }
  .news-right {
    margin: 0px -15px 0px 0px;
  }
}

@media (max-width:1024px) {
  .header-winner .title-header h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .header-winner .title-header h2 {
    font-size: 16px;
    line-height: 15px;
  }
  .navbar {
    min-height: auto;
  }
  .left {
    padding: 0px;
  }
  .right {
    padding: 0px;
  }
  .news-right {
    margin: 0px -15px;
  }
  .banner-info {
    margin: 0px -15px;
  }
  .info-video {
    margin: 0px -15px;
  }
  .tintuc_left {
    border: 1px dotted #0083d3;
  }
  .info-video .tintuc_left {
    border: 1px dotted #0083d3;
  }
  .submit {
    left: 80%;
  }
  /*.left{
    padding: 0px;
  }*/
  .fs {
    left: 86%;
  }
  .ul-menu {
    float: none !important;
  }
  .header-menu {
    /* background-color: #fcfcff;*/
    border-bottom: none;
  }
  .navbar-toggle {

    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-toggle {
    margin-right: 0px;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .text-uppercase {
    background-size: 100%;
    /* background: url(../images/8.jpg) no-repeat center;*/
    /* opacity: 0.5;*/
    background: #46a2d;
  }
  .submenu-reponsive .nav>li {
    border-left: none;
  }
  .navbar-default .navbar-nav>li>a {
    color: #08054e;
    font-weight: bold;
  }
  .menu-top {
    margin-left: 30px;
  }
  .collapse.in {

    display: block !important;
    border: none;
  }
  .navbar-default .navbar-toggle:hover {
    /*position: absolute;*/
    background-color: #86b2f6;
    /* left: 80%;*/
  }
  .icon-hidden {
    padding: 10px 0px 0px 10px;
    color: #000;
    border-bottom: 1px solid #fff;
  }
  .icon-top {
    /*display: none;*/
  }
  .icon-hidden a {
    color: #000;
    margin-left: 5px;
  }
  .icon-hidden li {
    margin-bottom: 7px;
  }
  .menu-i a i {
    margin-right: 5px;
  }
  .menu-i a img {
    margin-right: 5px;
  }
  .submenu-reponsive .navbar {
    height: auto;
  }
  .team .photo {
    width: 140px;
    height: 140px;
  }
  .photo-shadow {

    top: 12px;
    left: 12px;
    bottom: -10px;
    border: 1px dotted #000;
    height: 120px;
    width: 120px;
    background: #fff;
  }
}

@media (max-width:992px) {

  .search {
    /*width: 95%;*/
    /*float: none !important;*/
  }
  .fs {
    top: -2px;
  }
  /* #myCarousel {padding-right:33.3333%;}
  #myCarousel .carousel-controls {display:none;}  */
  .header-winner .title-header h1 {
    float: none;
  }
  .text-info-vsa {
     margin-top: 0px; 
    text-align: center;
}
}

@media (max-width:768px) {
  .map-time {
    float: none;
    text-align: center;
  }
  .search-md {
    display: none;
  }
  .search-xs {
    display: block;
  }
  .input-group{
    margin-bottom: 15px;
  }
  .mobile-icon {
    margin: 15px 0px 15px 30px;
  }
  .search-input{
    width: 50%;
  }
  .photo-shadow {

    top: 4px;
    left: 70px;
    bottom: -10px;
    border: 1px dotted transparent;
    background: transparent;
  }
  body {
    height: auto;
    color: #000;
    background-image: url(../images/BGTop.png);
    background-size: auto;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:hover {
    color: #FFF!important;
  }
  .home:before {
    content: "\f19c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
  }
  .introduct:before {
    content: "\f19c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 5px;
  }
  .search {
    /*width: 95%;*/
    float: none !important;
  }
  .fs {
    top: -2px;
    /*left:88%;*/
    left: 90%;
  }
  .contact {
    background: #0d8cd6;
    background: linear-gradient(to bottom, #0d8cd6, #6cadf3);
    background: -webkit-linear-gradient(to bottom, #0d8cd6, #6cadf3);
    background: -o-linear-gradient(to bottom, #0d8cd6, #6cadf3);
    background: -moz-linear-gradient(to bottom, #0d8cd6, #6cadf3);
    text-align: center;
  }
  .icon-contact {
    margin-top: 20px;
  }
  .p-text {
    font-size: 14px;
    color: $000;
    line-height: 20px;
    /* white-space: nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
  }
  .submit {

    left: 78%;
  }
  .email-form {
    font-size: 12px;
  }
   .header-winner .title-header h1 {
    font-size: 26px;
    line-height: 26px;
  }
  .header-winner .title-header h2 {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width:425px) {
  .fs {
    top: -2px;
    /*left:88%;*/
    left: 85%;
  }
  .team .photo {
    width: 140px;
    height: 140px;
  }
  .photo-shadow {

    top: 4px;
    left: 55px;
    bottom: -10px;
    border: 1px dotted transparent;
    height: 90px;
    width: 90px;
    background: transparent;
  }
}